{% extends 'index.html' %}
{% block title %}
    <title>About Us</title>
    {% endblock %}

{% block main_content %}
<div style="height:550px;width:900px;margin-left:170px;margin-top:10px;border:1px solid black;background-color:#d5f4e6">
<h2 style="padding-left:350px;padding-top:20px">About Us</h2>
    <p style="padding-left:20px;padding-top:20px">   3RI Training is a IT Educational Institute established in 2012, the Institute offers the world-class grade of education and a wide Assortment of classes like DevOps, AWS, MS Azure, Fullstack Development, RPA Tools, Mulesoft, ServiceNow, Sitecore, Micro Services, Azure DevOps etc.
    <p style="padding-left:20px;padding-top:20px">Best IT training institute in Pune has a dedicated placement team to help students get work positioning in various IT job roles with significant businesses. We're extremely happy to introduce ourselves as the best IT Training centre from the previous 12 decades, training most students and working professionals. We offer IT course training with affordable fees on various trending and top IT courses like Software Testing, Hadoop ,HR ,Foreign Languages, FullStack, Mean Stack, Java, Salesforce and several other courses. We also provide Classroom, Online and Corporate training on weekends and weekdays. Our Training derives from basic to Advanced using best in class curriculum. We believe that Technology does not have any ending point.</p>
    <p style="padding-left:20px;padding-top:20px">we offer Online Software courses, Online Networking courses, Online BIg Data and Hadoop courses, Online Foreign Language courses, Online HR courses in India and overseas.SevenMentor Training offers professional online and Classroom trainings to the newest trending IT technologies such as Data Science, Cyber Security, AI / ML, Salesforce, QA / Testing Tools, Selenium, DevOps, Amazon Web Services, Python, Power BI, Appium, Angular, SDET Training, Internet services testing and more.</p>
</div>
{% endblock %}